* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 800px;
    width: 90%;
    max-width: 1300px;
    margin: auto;

}

.avatar-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-basis: 35%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.text-container {
    align-self: center;
    padding-left: 1em;
    flex-grow: 1;
}

.card {
    display: flex;
    border: solid lightgray 2px;
    border-radius: 10px;
    height: 75%;
    width: 90%;
    margin: auto;
}

