* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

h1 {
    padding: 2rem;
    font-size: 1.5rem;
    margin-left: 16%;
}

h2 {
    font-size: 1.15rem;
}

body {
    background-color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 800px;
    width: 90%;
    max-width: 1300px;
    margin: auto;

}

.avatar-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-basis: 35%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.text-container {
    align-self: center;
    padding-left: 1em;
    flex-grow: 1;
}

.card {
    display: flex;
    border: solid lightgray 2px;
    border-radius: 10px;
    height: 75%;
    width: 90%;
    min-width: 360px;
    margin: auto;
    background-color: white;
}

body {
    position: relative;
}

.overlay {
    position: absolute; 
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    border: lightgray solid 2px;
    position: relative;
    background: #fff;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.email {
    padding: .25rem 0 .5rem 0;
}

.card:hover {
    cursor: pointer;
}

.overlay-city {
    padding-bottom: 2rem;
}

.phone {
    padding-top: 2rem;
}

.street-address {
    padding: 1rem;
}